@import "tailwindcss";

html, body, :root { 
  height: 100%; 
}

body { 
  background-color: #f9fafb;
  color: #111827;
  -webkit-font-smoothing: antialiased;
}

:root.dark body {
  background-color: #111827;
  color: #f9fafb;
}

@keyframes confetti {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translateY(0);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) rotate(720deg) translateY(100vh);
    opacity: 0;
  }
}